body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
  text-transform: capitalize;
  display: flex;
  color: white;
}

input {
  padding: 20px;
  background-color: #161f23;
  margin-top: 10px;
  height: 10px;
  color: white;
  border-radius: 2px;
}
input:focus {
  border: 2px solid;
  outline: none;
}
#message {
  height: 40px;
  width: 300px;
}

h3 {
  margin-left: 30px;

  font-size: 30px;
}
.panel {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: -21px;
}
.left-panel {
  width: 50%;

  background-color: #161f23;
  padding-left: 30px;
}
.right-panel {
  padding: 20px;
  width: 50%;
  background-color: #262b2b;
  ruby-position: under;
}
img {
  width: 60px;
  height: 60px;
  border-radius: 80%;
  margin-bottom: 20px;
}

label {
  display: grid;
  margin-top: 10px;
}
form {
  margin-left: 30px;
  width: 300px;
}
#check {
  margin: 20px 5px 20px 0;
  margin-left: 30px;
}

.register {
  align-content: center;
  margin-bottom: 20px;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: 30px;
  background-color: beige;
  color: black;
  font-size: 15px;
  border-radius: 2px;
}
.Firstpic,
.Secondpic,
.Thirdpic,
.Fourthpic {
  display: grid;
  grid-template-columns: 80px 10px;

  margin-top: 20px;
  position: relative;
}
h5 {
  font-size: 25px;
}
.hostet {
  margin-top: 50px;
}
.gustes {
  margin-top: 10%;
}
ruby {
  margin-left: -10px;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  left: 80px;
  font-weight: 800;
  ruby-align: start;
}
rt {
  font-size: 15px;
  font-style: italic;
}
@media screen and (width <= 750px) {
  body {
    background-color: #161f23;
  }

  input {
    margin-top: 10px;

    width: 150px;
  }
  #message {
    height: 30px;
    width: 200px;
  }

  h3 {
    margin-top: 10px;
    font-size: 30px;
  }
  .panel {
    height: 100%;
    width: 15em;
    display: block;
    margin-top: 10px;
  }
  .left-panel {
    width: 21em;
    height: 70%;

    padding-left: 0;
  }
  .form {
    margin-left: 0;
  }
  .right-panel {
    padding: 16px;
    width: 19em;
    height: 60%;
    background-color: #161f23;
  }

  #check {
    width: 80px;
  }

  .register {
    margin-top: 20px;

    width: 200px;
    height: 50px;
  }
}
